{% extends "backend.twig" %}
{% block script %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../build/css/custom.min.css" rel="stylesheet">
{% endblock %}  
{% block titulo %} 
    <title> ASEGURADORA SSA</title>
{% endblock %}

{% block login %}                  
{% endblock %}

{% block menu %}
{% endblock %} 
{% block contenido %}
    <body class="login"> 
        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form name="loginform" action="../login/validar_login.php" method="POST">
                            <h1>Inicio Sesi&oacute;n</h1>
                            <div>
                                <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required />
                            </div>
                            <div>
                                <input type="password" name="pass" class="form-control" placeholder="Contraseña" required />
                                {% if mensaje %}
                                    <p style="color: red">{{mensaje}}</p>
                                {% endif %}
                            </div>
                            <div>
                                <input type="submit" value="Ingresar" class="btn btn-default submit">
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <h1><i class="fa fa-shield"></i> Aseguradora SSA</h1>
                                    <p>©2016 All Rights Reserved.</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </body>
{% endblock %}    
